@import '../../../../styles/animations.scss';

.game{
  @include animated;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  &__container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


